
<div class="container">
<div class="d-inline" *ngFor="let product of productList">
<div  style="width:  10rem; height: 15px; display:inline-block; margin: 10px;">
    <img  style="width: 150px; height: 150px;" src={{product.imageUrl}}>
    <div style="width:auto; height:5rem;">
      <h4>{{product.productName}}</h4>
    </div>
      <h3>&#x20b9;{{product.price}}</h3>
      <h4>ID:{{product.productId}}</h4>
      <a class="btn btn-primary" href="/cart" role="button">Add to Cart</a>      
    
  </div>
</div>

</div>




